version: "3.7"
services:

#Laravel App
  app:
    build:
      args:
        user: dendgau
        uid: 1000
      context: ./
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ../source:/var/www
    networks:
      - mynetwork
    
 #Nginx Service
  nginx:
    image: nginx:alpine
    container_name: webserver
    restart: unless-stopped
    ports:
      - 10880:80
    volumes:
      - ./:/var/www
      - ./nginx/conf.d:/etc/nginx/conf.d/
    networks:
      - mynetwork
  #Mysl Service
  db:
    image: mysql:8
    restart: unless-stopped
    container_name: database
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: admin
      MYSQL_ROOT_PASSWORD: Aa1231
      MYSQL_PASSWORD: Aa1231
    ports:
      - 13306:3306
    networks:
      - mynetwork
      
networks:
  mynetwork:
    driver: bridge